*{
margin: 3px;
padding: 3px;
box-sizing: border-box;
font-style: normal;
font-weight: 500;
}


.blog-LEFT{
display:flex;
align-items:center;
justify-content: space-between;
padding: 16px 16px;
}

.central-unit{
position: absolute;
left:400px;

display: inline-flex;
align-items:center;
margin: 16px;
text-decoration: none;
color:rgb(255, 255, 255);
font-weight: 500;
list-style:georgian;
gap: 50px;
}


.blog-RIGHT{
    background:right;
    color: rgb(154, 154, 255);
    padding: 16x 20px;
    border :none;
    border-radius: 5px;
}


#gea{
    background-color: rgb(89, 79, 144);
    color: white;
    padding: 4px;
    border: 8px;
    border-radius: 6px;
    box-sizing: content-box;
}

.hero
{
height: 600px;
background:darkblue
url("hero-bg.png") center/cover;
display: flex;
align-items: center;
justify-content: center;
}


.hero-content 

{
text-align: center;
width: 700px;
color: rgb(255, 255, 255);
}


.hero h1{
    font-size: 52px;
    margin: 22px 0;

}


.hero-buttons button {

padding: 10px 20px;
border-radius:6px;
border: none;
margin: 5px;
display: inline-flex;
gap : 8px; 
align-items:center;
}

.hero p{

    opacity: .85;
    margin: bottom 30px;
}

.btn-{

    background: rgb(0, 79, 90);
    color: rgb(255, 255, 255);
}
.btn-secondary {
    background-color:transparent;
    color: rgb(255, 255, 255);        
    border : rgb(255, 0, 0) 12px;
    border-radius: 8px;

}

.notes
{
font-weight: 1700;
padding: 8px 60px;
text-align: center;
}

.brain-main {


    width: 280px;

}


.social-logos{

    justify-content:right;
}
.footer{



    background: rgb(89, 79, 144);
    color: rgb(248, 248, 248);
text-align: left;
padding: 30px;}

/* social-icon{

    justify-content:center
    height.: 20px;
    width: 20px;
    position: relative;
} */


.card-box{
    padding: 20px 50px;

}
.card-container {


    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.card {
    background: rgb(255, 206, 206);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.btn-eff{
    background-color: rgb(14, 97, 47);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
    cursor: pointer;

}

.btn-eff:hover{
    background-color: chocolate;
    transform: scale(1);

}